{{template "base/header.tmpl" .}}
    <h1>Welcome, {{ .Username }}</h1>
    <button id="logout-btn" action="/logout" method="POST">Logout</button>
    <hr>
    <h2>Your Repositories</h2>
    <ul>
        {{range .Repos}}
            <li><a href="/view/{{.}}">{{.}}</a></li>
        {{else}}
            <li>No repositories found. Create your first one!</li>
        {{end}}
    </ul>
{{template "base/footer.tmpl".}}